/* ==========
    common
   ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 2;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
header {
  text-align: center;
}
.container {
  max-width: 1080px;
  margin: 20px auto;
}
.logo {
  height: 80px;
}
.toDoList {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
}
.toDoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 18px;
}
.toDoList li:not(:last-child) {
  border-bottom: 1px solid rgb(64, 91, 116);
}

.done {
  text-decoration: line-through;
}
