<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="root">
        <!-- instestazione -->
        <header>
            <div class="container">
                    <img class="logo" src="https://www.boolean.careers/images/misc/logo.png" alt="boolean-logo">
                <h1>Todo List</h1>
            </div>
        </header>
        <!-- /instestazione -->

        <!-- corpo -->
        <main>
            <div class="container">
                <div class="add-todo">
                    <input  type="text" placeholder="testo" v-model="inputValue">
                    <button @click='addTodo'>aggiungi</button>
                </div>
                <div class="toDoList">
                    <ul>
                        <li v-for="(todoEntry, index) in toDos" :class="todoEntry.done == true ? 'done' : '' " ><span>{{todoEntry.text}} </span> <i class="fas fa-times" @click='removeTodo(index)' ></i></li>
                    </ul>
                </div>
            </div>

        </main>
        <!-- corpo -->
        



    </div><!-- fine div root -->
    

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- js link -->
    <script src="./js/main.js"></script>
</body>
</html>